$secondary-color: #0953dd;
$third-color: #055e91;
$fourth-color: #097edd;
// The color below will use on the new design web page
$main-theme-color: #0e52d1;
$primary-color: #20b166;
$secondary-color1: #0dc9d6;
$success-color1: #09d119;
$danger-color1: #f31708;
$worning-color1: #f77307;