.Articles {
    margin: 0;
    padding: 0;
}

.Article {
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #053691;
    width: 55rem;
    max-width: 90%;
}

.Article__contents {
    margin: 0;
    padding: 0;
}

.Article h1, h2, p {
    margin: 0;
    padding: 0;
}

.Article__button {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #053691;
    color: #fff;
    border: none;
    outline: none;
    float: right;
}

.Article__button:hover {
    background-color: #0953dd;
}

.Article__imageCage {
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 50%;
    display: inline-block;
    overflow: auto;
    justify-content: space-between;
    text-align: center;
}

.Article__image {
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 60rem;
    height: 30rem;
    vertical-align: middle;
}

.User__container {
    display: inline-block;
    overflow: auto;
    justify-content: space-between;
    text-align: center;
}

.User__name {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0;
    width: 4rem;
    height: 3rem;
    vertical-align: middle;
    display: inline-block;
}

.User__profile {
    padding: 0;
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 25px;
    vertical-align: middle;
}