.Navbar {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #8de28d;
    width: 10rem;
    max-width: 15%;
    height: 50rem;
    max-height: 100%;
    font-family: Verdana, Tahoma, sans-serif;
    z-index: 10;
}