@import './title';
@import './navbar';
@import './article';

@include mq(medium) {
    .title, .Navbar {
        float: none;
        width: auto;
    }
    .contentContainer {
        float: none;
        width: auto;
    }
}
@include mq(large) {
    .contentContainer {
        margin-left: 20%;
        width: 100%;
        max-width: 100%;    
    }
}